<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/custom_css/admin.css') }}"
    />
  </head>
  <body>
    <div class="nav-bar">
      <div>
        <h1>HOSPITAL SYSTEM</h1>
      </div>
      <div class="float">
        <img
          src="{{ url_for('static', filename='image/notification-bell.png') }}"
          alt=""
          width="40px"
          height="40px"
          style="padding-right: 15px;"
        />
        <img
          src="{{ url_for('static', filename='image/man.png') }}"
          alt=""
          width="40px"
          height="40px"
          style="padding-right: 10px;"
        />
      </div>
    </div>
    <div class="admin-flex">
      <div id="bar">
        <div>
          <img
            src="{{url_for('static', filename='image/dashboard.png')}}"
            alt=""
            height="30px"
            width="30px"
            style="display: block; padding-right: 7px"
          />
          <p>Dashboard</p>
        </div>
        <div>
          <img
            src="{{url_for('static', filename='image/fire-station.png')}}"
            alt=""
            height="30px"
            width="30px"
            style="display: block; padding-right: 7px"
          />
          <p>Department</p>
        </div>
        <div>
          <img
            src="{{url_for('static', filename='image/doctor1.png')}}"
            alt=""
            height="30px"
            width="30px"
            style="display: block; padding-right: 7px"
          />
          <p>Doctor</p>
        </div>
        <div>
          <img
            src="{{url_for('static', filename='image/nurse.png')}}"
            alt=""
            height="30px"
            width="30px"
            style="display: block; padding-right: 7px"
          />
          <p>Nurse</p>
        </div>
        <div>
          <img
            src="{{url_for('static', filename='image/hospitalisation.png')}}"
            alt=""
            height="30px"
            width="30px"
            style="display: block; padding-right: 7px"
          />
          <p>Patient</p>
        </div>
        <div>
          <img
            src="{{url_for('static', filename='image/teamwork.png')}}"
            alt=""
            height="30px"
            width="30px"
            style="display: block; padding-right: 7px"
          />
          <p>Staff</p>
        </div>
        <div>
          <img
            src="{{url_for('static', filename='image/man.png')}}"
            alt=""
            height="30px"
            width="30px"
            style="display: block; padding-right: 7px"
          />
          <p><a href=""> Profile</a></p>
        </div>
        <div>
          <img
            src="{{url_for('static', filename='image/arrow.png')}}"
            alt=""
            height="30px"
            width="30px"
            style="display: block; padding-right: 7px"
          />
          <p>Logout</p>
        </div>
      </div>

      <div id="option-flex">
        <div class="child-option-flex">
          <div class="image">
            <img
              src="{{url_for('static', filename='image/doctor1.png')}}"
              alt=""
              height="100px"
              width="80px"
            />
          </div>
          <div class="record">
            doctor</div>
        </div>
        <div class="child-option-flex">
            <div class="image">
              <img
                src="{{url_for('static', filename='image/doctor1.png')}}"
                alt=""
                height="100px"
                width="80px"
              />
            </div>
            <div class="record">
              doctor</div>
          </div>
          <div class="child-option-flex">
            <div class="image">
              <img
                src="{{url_for('static', filename='image/doctor1.png')}}"
                alt=""
                height="100px"
                width="80px"
              />
            </div>
            <div class="record">
              doctor</div>
          </div>
          <div class="child-option-flex">
            <div class="image">
              <img
                src="{{url_for('static', filename='image/doctor1.png')}}"
                alt=""
                height="100px"
                width="80px"
              />
            </div>
            <div class="record">
              doctor</div>
          </div>
          <div class="child-option-flex">
            <div class="image">
              <img
                src="{{url_for('static', filename='image/doctor1.png')}}"
                alt=""
                height="100px"
                width="80px"
              />
            </div>
            <div class="record">
              doctor</div>
          </div>
          <div class="child-option-flex">
            <div class="image">
              <img
                src="{{url_for('static', filename='image/doctor1.png')}}"
                alt=""
                height="100px"
                width="80px"
              />
            </div>
            <div class="record">
              doctor</div>
          </div>
          <div class="child-option-flex">
            <div class="image">
              <img
                src="{{url_for('static', filename='image/doctor1.png')}}"
                alt=""
                height="100px"
                width="80px"
              />
            </div>
            <div class="record">
              doctor</div>
          </div>
          <div class="child-option-flex">
            <div class="image">
              <img
                src="{{url_for('static', filename='image/doctor1.png')}}"
                alt=""
                height="100px"
                width="80px"
              />
            </div>
            <div class="record">
              doctor</div>
          </div>
          <div class="child-option-flex">
            <div class="image">
              <img
                src="{{url_for('static', filename='image/doctor1.png')}}"
                alt=""
                height="100px"
                width="80px"
              />
            </div>
            <div class="record">
              doctor</div>
          </div>
      </div>
    </div>
  </body>
</html>
