<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css/index.css') }}">
    <title>Document</title>
  </head>
  <body>
    <!--============== Header section STARTS============ -->
    <header>
      <nav class="navbar">
        <!--== LOGO ==-->
        <div class="logo">HOspital</div>
        <ul class="nav-links">
            <!-- USIGN CHECKBOX -->
            <input type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li> <a href="">Home</a> </li>
                <li><a href="">About</a></li>
                <li class="services"><a href="">Service</a>
                    <ul class="dropdown">
                        <li><a href="">Dropdown</a></li>
                        <li><a href="">Dropdown</a></li>
                        <li><a href="">Dropdown</a></li>
                    </ul>
                </li>
                <li><a href="">Contact</a></li>
                <li><a href="">Get Started</a></li>
            </div>
        </ul>
      </nav>
    </header>
    <!--============== Header section END============ -->

    <!--============== Main section START============ -->
    <main></main>
    <!--============== Main section END============ -->

    <!--============== Footer section START============ -->
    <footer></footer>
    <!--============== Footer section END ============ -->
  </body>
</html>
