<div class="nav-box">
    <div class="container">
      <!--============== Header section STARTS============ -->
      <header>
        <nav class="navbar">
          <!--== LOGO ==-->
          <div class="logo">Klinik</div>
          <ul class="nav-links">
            <!-- USIGN CHECKBOX -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
  
            <!-- NAVIGATION MENUS -->
            <div class="menu">
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li class="services">
                <a href="">Services</a>
                <ul class="dropdown">
                  <li><a href="">Dropdown</a></li>
                  <li><a href="">Dropdown</a></li>
                  <li><a href="">Dropdown</a></li>
                </ul>
              </li>
              <li><a href="">Contact</a></li>
              <li><a href="">Get Started</a></li>
            </div>
          </ul>
        </nav>
      </header>
    </div>
  </div>
  <!--============== Header section END============ -->