{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

<div class="text-center h1 text-danger">Nurse Record</div>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">

      <!--==================== Admin Panel Nav bar START ==================-->

        <!-- <div class="container-fluid">
          <a class="navbar-brand" href="#">Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/brands">Brands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/category">Categories</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> -->

      <!--==================== Admin Panel Nav bar ENDS ==================-->
</div>

<div class="container">
  
    <!--==================== Nurse Record ==================-->

    <table class="table table-sm">
        <thead>
            <th>Sr</th>
            <th>Entry</th>
            <th>Temperature</th>
            <th>Weight</th>
            <th>Blood Pressure</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{record.entry}}</td>
                <td>{{record.temperature}} &deg</td>
                <td>{{record.weight}} kg</td>
                <td>{{record.blood_pressure}} mmHg</td>
                <td>{{records.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
    <div style="display: flex;">
      <p><a href="{{ url_for('createNurseRecord', id=id) }}" class="btn btn-info btn-sm" style="margin-right: 15px; margin-top: 9px; padding: 8px;">Add Record</a></p>
      <p><a href="{{ url_for('patientRecord') }}" class="btn btn-info btn-sm" style="margin-top: 9px; padding: 8px;">Go Back</a></p>
  </div>
    

    <!--====================Nurse Record ==================-->

</div>
{% endblock content %}