{% extends "layout.html" %}

{% block content %}


<div class="first">
  <form method="POST">
      <div class="heading">
      <h1 > PORTOHEALTH </h1>
      <i>  &quot;life matters most....&quot; </i>
      </div>

  <div class="row">
      <div class="input-group">
      <input type="text" id="Name" name="name" required>
      <label for="Name"> <i class="fa-solid fa-user-doctor"> </i> Name </label>
    </div>

    <div class="input-group">
      <input type="text" id="phone number" name="phoneNumber" required>
      <label for="phone number"><i class="fa-solid fa-phone"></i></i> Phone number  </label>
    </div>
  </div>

<div class="row">

  <div class="input-group">
    <input type="Day" id="Day" name="day" required>
    <label for="Day"> Day </label>
  </div>
  <div class="input-group">
    <input type="text" id="Month" name="month" required>
    <label for="Month">Month </label>
  </div>
  <div class="input-group">
    <input type="text" id="Year" name="year" required>
    <label for="Year"></i> Year </label>
  </div>
  
</div>

<div class="row">
  <div class="input-group">
  <input type="text" id="Sex" name='sex' required>
  <label for="Sex"> Sex </label>
</div>
<div class="input-group">
  <input type="text" id="Marital Status" name="status" required>
  <label for="Marital Status"> Marital Status  </label>
</div>
</div>
<div class="input-group">
  <input type="text" id="Email" name="email" required>
  <label for="Email"><i class="fas fa-envelope"></i>Email </label>
</div>
<div class="input-group">
  <input type="text" id="Address" name="address" required>
  <label for="Address">Address </label>
</div>
<div class="row">
  <div class="input-group">
  <input type="text" id="City" required name="city">
  <label for="City"> City</label>
</div>
<div class="input-group">
  <input type="text" id="State" required name="state">
  <label for="State"> State </label>
</div>
</div>
<div class="row">
  <div class="input-group">
  <input type="text" id="Weight" required name="weight">
  <label for="Weight"> Weight (Pounds)</label>
</div>
<div class="input-group">
  <input type="text" id="Height" required name="height">
  <label for="Height"> Height (Inches) </label>
</div>
</div>

<div class="input-group">
  <p> Taking Medication Currently ?</p>
  <p>Yes <input type="radio" id="checkbox" value="True" name="medication">
  </p>
  <p> No <input type="radio" id="checkbox" value="False" name="medication" > </p>
  
</div>
    <div class="input-group">
      <textarea  id="Message" rows="8" name="message" required></textarea>
      <label for="Message"><i class="fas fa-comments"></i>If <b>Yes</b> List Here </label>
    </div>
    <div>
      <div class="text">
        <p> In Case Of Emergency </p>
      </div>
      <div class="row">
        <div class="input-group">
        <input type="text" id="Emergency_name" name="emergencyName" required>
        <label for="Emergency_name">Name </label>
      </div>
      <div class="input-group">
        <input type="text" id="Emergency_contact" name="emergencyContact" required>
        <label for="Emergency_contact">Contact  </label>
      </div>
      <div class="input-group">
        <input type="text" id="Relationship" name="relationship" required>
        <label for="Relationship"></i> Relationship </label>
      </div>
  </div>
  </div>

  <div class="input-group">
    <button type="submit"> SUBMIT <i class="fas fa-paper-plane"></i></button>
  </div> 
    </form>

  </div>
{% endblock content %}