{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

<div class="text-center h1 text-danger">Patient Record</div>
<div class="container">
  <a href="{{ url_for('register') }}" class="btn btn-info btn-sm" style="margin-bottom: 10px;">Add Patient</a>
  <a href="{{ url_for('logout') }}" class="btn btn-info nt-2" style="margin-bottom: 30px; float: right;">Logout</a>
  <nav class="navbar navbar-expand-lg bg-light">

      <!--==================== Admin Panel Nav bar START ==================-->

        <!-- <div class="container-fluid">
          <a class="navbar-brand" href="#">Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/brands">Brands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/category">Categories</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> -->

      <!--==================== Admin Panel Nav bar ENDS ==================-->
</div>

<div class="container">
  

    <table class="table table-sm">
        <thead>
            <th>Sr</th>
            <th>Name</th>
            <th>Email</th>
            <th>Full Details</th>
            <th>Nurse Record</th>
            <th>Doctor Record</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.email}}</td>
                <td> <a href="{{ url_for('patientDetailRecord', id=user.id) }}" class="btn btn-info btn-sm">Detail</a></td></td>
                <td> <a href="{{ url_for('nurseAllRecord', id=user.id) }}" class="btn btn-info btn-sm">NRecord</a></td></td>
                <td> <a href="{{ url_for('doctorAllRecord', id=user.id) }}" class="btn btn-info btn-sm">DRecord</a></td></td>

            </tr>
            {% endfor %}
        </tbody>
    </table> 


</div>
{% endblock content %}